/calculation.cpp
/calculation.exe
/calculation.o
/DRESSESgithub
/evennumbers.cpp
/hello class.cpp
/hello class.exe
/hello class.o
/helloworld.cpp
/helloworld.exe
/helloworld.o
/maths.cpp
/maths.exe
/maths.o
/minutes.cpp
/minutes.exe
/minutes.o
/numericdatatype.cpp
/numericdatatype.exe
/numericdatatype.o
/switch.cpp
/switch.exe
/switch.o
/variables.cpp
/variables.exe
/variables.o